body {
	background:#002331;
	font-family:Helvetica,Arial;
	font-size:14px;
	font-family:'Montserrat', sans-serif;
	animation-name: antoine;
	animation-duration:1.5s;
}

@keyframes antoine{
	0%{opacity:0;}
	100%{opacity:1;}

}


a{
	text-decoration: none;
	color: white;
}

.container{
	width:75%;
	margin: auto;
	text-align: center;
	background: #012837;
	height:500px;
	border-color: #011f29;
}

.nav-bar{
	height:55px;
}

.logo{
	float: left;
	margin-left:20px;
	margin-top:20px;
}

.logo img {
	width: 150px;
}

.items{
	float:right;
	display: inline-block;
	margin-right: 50px;
}

.items ul{
	display: inline-block;
	text-decoration: none;
}

.items li{
	display: inline-block;
	color: white;
	font-size: 12px;
	font-weight: 400;
	height: 40px;
	width: 80px;
	text-align: center;
}


.items li a:hover{
	color:#00c99b;
}

.items li a{
	text-decoration: none;
	color:white;
	padding:0;
	margin:auto;
}

.items li h4 {
	margin:0;
	padding: 0;
	margin-top:13px;
}


.background{
	margin-top: 70px;
}

.background img{
	width:100%;
	height:400px;
}

.sub-title{
	margin-top: -266px;
    opacity: 1;
    z-index: 5;
    color: white;
}

.sub-title{
	font-size: 26px;
}


.container2{
	width:100%;
	margin: auto;
	text-align: center;
	background: #012837;
	border-color: #011f29;
	padding:40px;
}


.line{
	position: relative;
	height:5px;
	width:300px;
	background-color: #00c99b;
	margin:auto;
	text-align: center;
}

.container2 a:hover {
	text-decoration:none;
}


.container2 a {
	color:#00c99b;
}

.title p{
	font-size: 27px;
	color: white;
	margin-bottom: 80px;
	text-align: center;
}

.para-1 h1{
	text-align: center;
	color: white;
	font-size: 19px;
	font-weight: 100;
	margin-bottom: 50px;
	line-height: 35px;
	font-family: 'Montserrat', sans-serif;

}

.para-2 p{
	text-align: left;
	color: white;
	font-size: 16px;
	margin-bottom: 50px;
	line-height: 35px;
}


.para-3 p{
	text-align: left;
	color: white;
	font-size: 16px;
	margin-bottom: 50px;
	line-height: 35px;
}


.container3{
	width:100%;
	margin: auto;
	text-align: center;
	background: #012837;
	height:120px;
	border-color: #011f29;
	border-top: 1px solid black;
}


.left{
	float: left;
	margin-left: 17%;
	text-decoration: none;
}

.left ul{
	display: inline-block;
	text-decoration: none;
}

.left li {
	list-style: none;
}

.left li a{
	display: block;
	text-decoration: none;
	text-align: right;
	margin-bottom: 4px;
}

.left li a:hover{
	color:#00c99b;
}

.right{
	margin-right: 20%;
	float: right;
	color: white;
	display: block;
}

.right ul{
	text-decoration: none;

}

.right li a{
	display: block;
	text-decoration: none;
	text-align: left;
	margin-bottom: 4px;
}



.right img{
	width:25px;
	height: 25px;
	display: inline-block;
	margin-left: 10px;
}

.rs{
	text-align: left;
	margin-top: 15px;
}



/*
.play{
	margin:auto;
	text-align:center;
	width: 250px;
	height: 50px;
	background-color: #002331;
	border:1px solid #02ca97;
	margin-top: 154px;
	cursor: pointeur;	
}

.play:hover{
	background-color: #02ca97;
	border:1px solid #002331;
	cursor: pointer;
	color:#002331;

}

.play a{
	font-size: 25px;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	color: #02ca97;
	font-weight: bold;
	text-align: center;
	margin-top:10px;
	text-decoration: none;
	line-height:50px;
}

.play a:hover{
	color:#002331;
}


*/