@font-face {
	font-family: 'montserrat';
	src: url(assets/montserrat-regular.ttf);
}
body {
	background:#002331;
	font-family:Helvetica,Arial;
	font-size:14px;
	font-family:'Montserrat', sans-serif;
	animation-name: antoine;
	animation-duration:1.5s;
}

@keyframes antoine{
	0%{opacity:0;}
	100%{opacity:1;}

}

a{
	text-decoration: none;
	color: white;
}

.container{
	width:75%;
	margin: auto;
	text-align: center;
	background: #012837;
	height:550px;
	border-color: #011f29;
}

.nav-bar{
	height:55px;
}

.logo{
	float: left;
	margin-left:20px;
	margin-top:20px;
}

.logo img {
	width: 150px;
}


.items{
	float:right;
	display: inline-block;
	margin-right: 50px;
}

.items ul{
	display: inline-block;
	text-decoration: none;
}

.items li{
	display: inline-block;
	color: white;
	font-size: 12px;
	font-weight: 400;
	height: 40px;
	width: 80px;
	text-align: center;
}


.items li a:hover{
	color:#00c99b;
}

.items li a{
	text-decoration: none;
	color:white;
	padding:0;
	margin:auto;
}

.items li h4 {
	margin:0;
	padding: 0;
	margin-top:13px;
}

.background{
	margin-top: 70px;
}

.background img{
	width:100%;
	height:400px;
}

.sub-title{
	margin-top: -266px;
    opacity: 1;
    z-index: 5;
    color: white;
}

.sub-title{
	font-size: 26px;
}


.container2{
	width:75%;
	margin: auto;
	text-align: center;
	background: #012837;
	border-color: #011f29;
	padding-bottom: 50px;
}


.line{
	position: relative;
	height:5px;
	width:300px;
	background-color: #00c99b;
	margin:auto;
	text-align: center;
}

.sub-title2{
	margin: auto;
	text-align: center;

}

.sub-title2 p{
	font-size: 29px;
	color: white;
	font-weight: 100;
}

.line2 {
	position: relative;
	height:5px;
	width:300px;
	background-color: #00c99b;
	margin:auto;
	margin-top: 30px;
	text-align: center;
}

.sub-title3 {
	margin: auto;
	text-align: center;
}

.sub-title3 h2{
	font-size: 29px;
	color: white;
	font-weight: 100;
}

.sub-title3 p{
	font-size: 15px;
	color: white;
	font-weight: 100;
	margin-top: 30px;
}

.gender ul{
	display: inline-block;
	text-decoration: none;
	background-color: #041B27;
	width:87%;
	padding-bottom: 40px;

}

.gender li{
	display: inline-block;
	text-decoration: none;
	margin-right: 50px;
	margin-top: 40px;
	width:220px;
	height:220px;
	background-color: white;
}

.gender img{
	width:170px;
	height:170px;
	margin-top:20px;
}

.play{
	width: 300px;
	background-color: #00c99b;
	margin:auto;
	text-align:center;
	padding-top:0.005px;
	cursor: pointer;
	margin-top: 25px;
}

.play:hover{
	background-color: white;
 

}

.play p{
	font-size: 30px;
	color:white;
	padding: 10px;
}

.play p:hover{
	color:#00c99b;
}

.container3{
	width:100%;
	margin: auto;
	text-align: center;
	background: #012837;
	height:70px;
	border-color: #011f29;
	border-top: 3px solid #062330;
}

.container3 p {
	color:#B8B8B8;
	margin-top: 28px
}

.hover {
	width:220px;
	height:220px;
	position:absolute;
	z-index:999;
	opacity:1;
}

.hover h2 {
	margin-top: 88px;
	font-size: 35px;
	color:white;
}


.hover h3 {
	margin-top: 80px;
	font-size: 25px;
	color:white;
}

.s1 {
	background: url(../images/dj-platine.png);
}

.s2 {
	background: url(../images/rockc.png);
}

.s3 {
	background: url(../images/rapp.png);
}

.s4 {
	background: url(../images/houuse.png);
}

.s5 {
	background: url(../images/classik.png);
}

.s6 {
	background: url(../images/alternativ.png);
}

.bouton{
	margin:auto;
	text-align:center;
	width: 150px;
	height: 50px;
	margin-top:20px;
	background-color: #002331;
	cursor: pointeur;	
}

.bouton:hover{
	background-color: #02ca97;
	border-top:1px solid #02ca97;
	cursor: pointer;
	color:#002331;

}

.bouton a{
	font-size: 17px;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	color: #02ca97;
	font-weight: bold;
	text-align: center;
	margin-top:10px;
	text-decoration: none;
	line-height:50px;
}

.bouton:hover a{
	color:#002331;
}

