body {
	background:#002331;
	font-family:Helvetica,Arial;
	font-size:14px;
	font-family:'Montserrat', sans-serif;
	animation-name: antoine;
	animation-duration:1.5s;
}

@keyframes antoine{
	0%{opacity:0;}
	100%{opacity:1;}

}

a{
	text-decoration: none;
	color: white;
}

.container{
	width:75%;
	margin: auto;
	text-align: center;
	background: #012837;
	height:550px;
	border-color: #011f29;
}

.nav-bar{
	height:55px;
}

.logo{
	float: left;
	border:2px solid white;
	margin-left: 50px;
}

.logo:hover{
	border:2px solid #00c99b;
	background: #00c99b;
	cursor: pointer;
}

.logo p{
	color:white;
	font-size: 16px;
	padding:5px;
}

.logo a{
	text-decoration: none;
	color:white;
}

.items{
	float:right;
	display: inline-block;
	margin-right: 50px;
}

.items ul{
	display: inline-block;
	text-decoration: none;
}

.items li{
	display: inline-block;
	color: white;
	font-size: 12px;
	font-weight: 400;
	margin-right: 20px;
}

.items li a:hover{
	color:#00c99b;
}

.background{
	margin-top: 70px;
}

.background img{
	width:100%;
	height:400px;
}

.sub-title{
	margin-top: -266px;
    opacity: 1;
    z-index: 5;
    color: white;
}

.sub-title{
	font-size: 26px;
}


.container2{
	width:75%;
	margin: auto;
	text-align: center;
	background: #012837;
	height:844px;
	border-color: #011f29;
}


.line{
	position: relative;
	height:5px;
	width:300px;
	background-color: #00c99b;
	margin:auto;
	text-align: center;
}

.sub-title2{
	margin: auto;
	text-align: center;

}

.sub-title2 p{
	font-size: 33px;
	color: white;
	font-weight: 100;
}

.gender ul{
	display: inline-block;
	text-decoration: none;
}

.gender li{
	display: inline-block;
	text-decoration: none;
	margin-right: 50px;

}

.gender li:hover{
	border:7px solid #00c99b;
	width:220px;
	height: 220px;
	transition-duration: 0.3s;
}

.gender img{
	width:220px;
	height:220px;
}

.gender2{
	margin-top: 50px;
	margin-bottom: 50px;
}

.gender2 ul{
	display: inline-block;
	text-decoration: none;
}

.gender2 li{
	display: inline-block;
	text-decoration: none;
	margin-right: 50px;
}

.gender2 li:hover{
	border:7px solid #00c99b;
	width: 220px;
	height: 220px;
	transition-duration: 0.3s;
}

.gender2 img{
	width:220px;
	height:220px;
}

.play{
	width: 300px;
	background-color: #00c99b;
	margin:auto;
	text-align:center;
	padding-top:0.005px;
	cursor: pointer;
	margin-top: 25px;
}

.play:hover{
	background-color: white;
 

}

.play p{
	font-size: 30px;
	color:white;
	padding: 10px;
}

.play p:hover{
	color:#00c99b;
}

.container3{
	width:100%;
	margin: auto;
	text-align: center;
	background: #012837;
	height:120px;
	border-color: #011f29;
	border-top: 1px solid black;
}


.left{
	float: left;
	margin-left: 17%;
	text-decoration: none;
}

.left ul{
	display: inline-block;
	text-decoration: none;
}

.left li {
	list-style: none;
}

.left li a{
	display: block;
	text-decoration: none;
	text-align: right;
	margin-bottom: 4px;
}

.left li a:hover{
	color:#00c99b;
}

.right{
	margin-right: 20%;
	float: right;
	color: white;
	display: block;
}

.right ul{
	text-decoration: none;

}

.right li a{
	display: block;
	text-decoration: none;
	text-align: left;
	margin-bottom: 4px;
}



.right img{
	width:25px;
	height: 25px;
	display: inline-block;
	margin-left: 10px;
}

.rs{
	text-align: left;
	margin-top: 15px;
}


